#form-container {
    max-width: 720px;
    width: 56.25%;
    margin: 92px auto;
}

#form-container * {
    box-sizing: border-box;
}

#form-container header {
    margin-bottom: 42px;
}

#form-container header h1 {
    font-size:  2.25rem;
    color: rgb(16, 24, 40);
}

#form-container p {
    font-size: 1.25rem;
    color: rgb(71, 84, 103);
}


#form-container form {
    display: flex;
    flex-direction: column;
}

#form-container form > *:not(label, br, #form__name) {
    margin-top: 6px;
    margin-bottom: 24px;
}

#form-container form *:not(input[type="checkbox"], label) {
    width: 100%;
}

#form__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form-container form #form__name .name-field-container {
    width: 48%;
}

#form__name .name-field-container > *:not(label, br) {
    margin-top: 6px;
    margin-bottom: 24px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: rgb(52, 64, 84);
}

label[for="form__consent-checkbox"] {
    font-size: 16px;
    color: rgb(71, 84, 103);
}

form input, form textarea {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid rgba(208, 213, 221, 1);
    font-family: inherit;
    font-size: 16px;
}

textarea {
    resize: none;
}

#form-container form #consent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 32px;
}

#form__consent-checkbox {
    height: 20px;
}

input[type="checkbox"] {
    width: 20px;
    margin-right: 12px;
}

input[type="submit"] {
    border: 0px;
    color: rgb(255, 255, 255);
    background-color: rgba(21, 112, 239, 1);
    padding: 12px 20px;
}

@media only screen and (max-width: 768px) {
    #form-container {
        width: 100%;
        margin: 0px auto;
    }

    #form-container header p {
    font-size: 1.125rem;
    }

    #form__name {
        flex-direction: column;
    }

    #form-container form #form__name .name-field-container {
        width: 100%;
    }
}