.App {
  display: flex;
  flex-direction: column;
}

.App > *
{
  width: 88.88%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
}

main {
  margin-top: 64px;
  margin-bottom: 64px;
}